{% extends 'base.html' %}
{% load static %}
{% block headscript %}
<link href="{% static 'css/video_header.css' %}" rel="stylesheet">
{% endblock headscript %}
{% block content %}


<section id="video-header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'video/drone-city-hb.mp4' %}" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Commercial Services</h1>
      </div>
    </div>
  </div>
</section>

{% endblock content %}