{% extends 'base.html' %}
{% load static %}
{% block headscript %}
<link href="{% static 'css/video_header.css' %}" rel="stylesheet">
{% endblock headscript %}
{% block content %}


<section id="video-header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'video/drone-city-hb.mp4' %}" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Commercial Services</h1>
      </div>
    </div>
  </div>
</section>



<!-- ======= Commercial Services Section ======= -->
    <section id="comm-services" class="comm-services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><strong>Commercial Services</strong></h2>
          <p>The Exterior Design & Development team is proficient in handling all types of commercial roofing projects and custom building exteriors – no matter how small or large they may be. 
            Our commercial roofing team understands that commercial establishments need expedited repair and replacement services that will not interfere with your day to day business operation. 
            We are diligent in ensuring that you will be inconvenienced as little as possible while our roofing contractors are conducting repairs and installations.</p>
        </div>

        <div class="row mb-4">
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/epdm-roof.jpg' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">EPDM Roofing Systems</a></h4>
              <p>EPDM (ethylene propylene diene terpolymer) has the longest proven performance record of all single-ply membranes. Its high-performance synthetic rubber compound provides exceptional 
              weathering in climates across the globe. The material is easy to install and can be either fully adhered, mechanically attached or ballasted.</p>
              <p>Multiple attachment types and colors are available, which provides design flexibility and variety. Plus, white EPDM membranes offer the lowest carbon footprint of all single-ply membranes—making 
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">TPO Roofing Systems</a></h4>
              <p>Thermoplastic polyolefin (TPO) is leading the trend in white, reflective, energy-efficient, single-ply roofing systems—and is the fastest-growing commercial roofing membrane on the 
              market today. TPO has gained broad industry acceptance for its many installation and performance advantages, including its ability to be heat-welded, creating a monolithic roof while 
              providing strength and durability. Its white reflective membrane also meets the criteria of LEED®, ENERGY STAR® and other environmental programs.</p>
          </div>
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/tpo.jpg' %}" >
              
          </div>


        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/metal-roof.png' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">Metal Roofing Systems</a></h4>
              <p> 
                Metal roofing offers many benefits in the design of a building. It is visually striking and extremely durable, yet lightweight and easy to work with. Plus, there are a wide variety of options for every budget, 
                look, function and scale, turning just about any design you can imagine into a possibility. And it’s a great choice for meeting sustainability initiatives.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">Modified Bitumen</a></h4>
              <p>Modified bitumen roofing systems are multi-ply systems usually consisting of 2-3 layers of a composite roll and surfaced with granules or foils. These systems are 
              typically utilized on low slope roof areas in conjunction with varying insulations and deck systems, but are sometimes installed on steep slope substrates.</p>
          </div>
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/tpo.jpg' %}" >
              
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/metal-roof.png' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">Architectural Sheet Metal</a></h4>
              <p> 
                Architectural sheet metal is the custom fabrication of metal flashings, trim, and sometimes ornate metals utilizing a multitude of materials. The metal types utilized range from conventional metals like 
                steel and aluminum to high end materials like zinc, copper, lead, and metals with custom colored finishes.</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4><a href="">Vegetative Roofs (GREEN Roof)</a></h4>
              <p>Green or Vegetative Roofs are composed of several layers including an underlying waterproofing system, soil media and vegetation. Benefits of this system include: lower energy costs, LEED recognition, air quality, 
              reduced storm water runoff, and an extended roof life..</p>
          </div>
          <div class="col-lg-4 col-md-12" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/tpo.jpg' %}" >
              
          </div>
        </div>

        </div>

      </div>
    </section><!-- End Services Section -->
<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Recent Commercial Projects</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

 

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock content %}