{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <title>Exterior Design and Development | Commercial Services | Serving Southeastern Pennsylvania and New Jersey</title>
  <meta content="Residential and commercial roofing and siding experts servicing Southeastern Pennsylvania and New Jersey for over 20 years" name="description">
  <meta content="residential roofing, residential roofer, residential siding, residential exteriors, commercial roofing, commercial exteriors, commercial siding, commercial roofing systems" name="keywords">

  <!-- Open Graph data -->
  <meta property="og:title" content="Exterior Design & Development | Commercial Services" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.exteriordd.com/commercial-services" />
  <meta property="og:image" content="{% static 'img/exteriordd-og-img.png' %}" />
  <meta property="og:description" content="Residential and commercial roofing and siding experts servicing Southeastern Pennsylvania and New Jersey for over 20 years" />
  <meta property="og:site_name" content="Exterior Design & Development" />

{% endblock meta_tags %}

{% block headscript %}
<link href="{% static 'css/video_header.css' %}" rel="stylesheet">
{% endblock headscript %}
{% block content %}


<section id="video-header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'video/drone-city-hb.mp4' %}" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Commercial Services</h1>
      </div>
    </div>
  </div>
</section>


    <!-- ======= About Us Section ======= -->
    <section id="about-us-page" class="about-us" style="padding-top:60px;">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Commercial Services</strong></h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <img class="img-fluid" src="{% static 'img/services/contractor-hardhat-logo.png' %}" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <h5>The Exterior Design & Development team is proficient in handling all types of commercial roofing projects and custom building exteriors – no matter how small or large they may be. </h5>
            <p>
            Our commercial roofing team understands that commercial establishments need expedited repair and replacement services that will not interfere with your day to day business operation. 
            We are diligent in ensuring that you will be inconvenienced as little as possible while our roofing contractors are conducting repairs and installations.
            </p>
            <p><strong>We specialize in:</strong>
            <ul>
              <li><i class="ri-check-double-line"></i> Roofing & Exterior Panel Systems</li>
              <li><i class="ri-check-double-line"></i> Air & Vapor Barriers</li>
              <li><i class="ri-check-double-line"></i> Waterproofing</li>
            </ul>
            </p>
            <p class="font-italic">
              Whether you own a retail store, restaurant, office building, supermarket, or any other type of business, you can trust in our ability to adhere to high-quality standards when we are completing your project.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


<!-- ======= Commercial Services Section ======= -->
    <section id="comm-services" class="comm-services">
      <div class="container" data-aos="fade-up">
        <a name="epdmRoofing"></a>
        <div class="section-title">
          <h2><strong>Roofing & Exteriors</strong></h2>
          <p>Our Commercial Roofing experts are able to offer comprehensive guarantees that other roofing contractors can’t (and won’t) typically offer. Our team has a great deal of expertise in all types of roofing installations, repairs, 
          and custom exteriors so we are an easy choice if you want exceptional services at rates that you can afford.</p>
        </div>
        
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/epdm-roof.jpg' %}" >
              
          </div>
          
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>EPDM Roofing Systems</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/epdm-roof.jpg' %}" >
              <p>EPDM (ethylene propylene diene terpolymer) has the longest proven performance record of all single-ply membranes. Its high-performance synthetic rubber compound provides exceptional 
              weathering in climates across the globe. The material is easy to install and can be either fully adhered, mechanically attached or ballasted.</p>
              <p>Multiple attachment types and colors are available, which provides design flexibility and variety. Plus, white EPDM membranes offer the lowest carbon footprint of all single-ply membranes—making 
          </div>
          <a name="tpoRoofing"></a>
        </div>
        
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>TPO Roofing Systems</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/tpo.jpg' %}" >
              <p>Thermoplastic polyolefin (TPO) is leading the trend in white, reflective, energy-efficient, single-ply roofing systems—and is the fastest-growing commercial roofing membrane on the 
              market today. TPO has gained broad industry acceptance for its many installation and performance advantages, including its ability to be heat-welded, creating a monolithic roof while 
              providing strength and durability. Its white reflective membrane also meets the criteria of LEED®, ENERGY STAR® and other environmental programs.</p>
          </div>
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/tpo.jpg' %}" >
              
          </div>

          <a name="metalRoofing"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/metal-roof.jpg' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Metal Roofing Systems</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/metal-roof.jpg' %}" >
              <p> 
                Metal roofing offers many benefits in the design of a building. It is visually striking and extremely durable, yet lightweight and easy to work with. Plus, there are a wide variety of options for every budget, 
                look, function and scale, turning just about any design you can imagine into a possibility. And it’s a great choice for meeting sustainability initiatives.</p>
          </div>
          <a name="bitumenRoofing"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Modified Bitumen</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/modified-bitumen.png' %}" >
              <p>Modified bitumen roofing systems are multi-ply systems usually consisting of 2-3 layers of a composite roll and surfaced with granules or foils. These systems are 
              typically utilized on low slope roof areas in conjunction with varying insulations and deck systems, but are sometimes installed on steep slope substrates.</p>
          </div>
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/modified-bitumen.png' %}" >
              
              
          </div>
          <a name="sheetMetalRoofing"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/architectural-sheet-metal.jpg' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Architectural Sheet Metal</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/architectural-sheet-metal.jpg' %}" >
              <p> 
                Architectural sheet metal is the custom fabrication of metal flashings, trim, and sometimes ornate metals utilizing a multitude of materials. The metal types utilized range from conventional metals like 
                steel and aluminum to high end materials like zinc, copper, lead, and metals with custom colored finishes.</p>
          </div>
          <a name="greenRoofing"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Vegetative Roofs (GREEN Roof)</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/green-roof.jpg' %}" >
              <p>Green or Vegetative Roofs are composed of several layers including an underlying waterproofing system, soil media and vegetation. Benefits of this system include: lower energy costs, LEED recognition, air quality, 
              reduced storm water runoff, and an extended roof life..</p>
          </div>
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/green-roof.jpg' %}" >
              
          </div>
          <a name="waterproofing"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/waterproofing.png' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Waterproofing</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/waterproofing.png' %}" >
              <p> 
                
              Commercial waterproofing services from Exterior Design & Development include professional installation of high quality waterproofing materials to new or existing structures to keep water out and prevent damage to exterior surfaces from the weather.
              We specialize in:
              <div class="row">
                <div class="col-md-4">
                    <ul>
                      <li><i class="ri-check-double-line"></i> Bentonite Clay Waterproofing</li>
                      <li><i class="ri-check-double-line"></i> Fluid Applied Waterproofing </li>
                      <li><i class="ri-check-double-line"></i> Hot Applied Waterproofing</li>
                      <li><i class="ri-check-double-line"></i> Self-Adhering Sheet Waterproofing</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                      <li><i class="ri-check-double-line"></i> Self-Adhering Blindside Membranes</li>
                      <li><i class="ri-check-double-line"></i> Silicone Sealants</li>
                      <li><i class="ri-check-double-line"></i> Urethane Sealants</li>
                      <li><i class="ri-check-double-line"></i> Epoxy Security Sealants</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                      <li><i class="ri-check-double-line"></i> Firestop Sealants</li>
                      <li><i class="ri-check-double-line"></i> Clear Water Repellents</li>
                      <li><i class="ri-check-double-line"></i> Sound Barrier Sealants</li>
                      <li><i class="ri-check-double-line"></i> Elastomeric Wall Coatings</li>
                    </ul>
                </div>
              </div>

              </p>
          </div>
          <a name="vaporBarrier"></a>
        </div>
        <div class="row mb-4">
          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Air & Vapor Barriers</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/vapor-barrier2.jpg' %}" >
              <p>Air and Vapor Barrier Systems are used to enhance overall building performance. The primary purpose of the air barrier system is to prevent the air from leaking into and out of the building enclosure. 
              Implementing a cavity wall air barrier ensures the occupants are more comfortable by providing a draft free space. Barriers also protect occupants from pollutants entering the building. 
              These pollutants can range from pollen, suspended particulates and odors to biological contaminants on the other side.

                </p>
          </div>
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/vapor-barrier2.jpg' %}" >
              
          </div>
          <a name="metalWall"></a>
        </div>

        <div class="row mb-4">
          <div class="col-lg-4 col-md-12 no-mobile" data-aos="zoom-in" data-aos-delay="100">
                <img class="service-img" src="{% static 'img/services/metal-wall-panels.jpg' %}" >
              
          </div>

          <div class="col-lg-8 col-md-12" data-aos="zoom-in" data-aos-delay="200">

              <h4>Metal Wall Panels</h4>
              <img class="service-img mobile-only" src="{% static 'img/services/metal-wall-panels.jpg' %}" >
              <p> 
                 Metal wall panels have beautiful appearances for both interior and exterior applications on commercial or residential buildings.
                They come in a wide variety of colors, have shiny or matte finishes, and can be shaped and formed into different patterns. The diverse nature of metal wall panels makes them extremely easy for architects and interior designers to use in their projects.
                 Metal walls are considered to be eco-friendly and sustainable materials to use in building construction.</p>
          </div>
        </div>
        </div>

      </div>
    </section><!-- End Services Section -->

        <!-- ======= Residential CTA Section ======= -->
        <section id="call-to-action" class="call-to-action section-cta parallax" style="background-image: url({% static 'img/contractor-handshake.png' %});background-position:center;">
          <div class="container" data-aos="fade-up">
    


                <div class="row justify-content-center" data-aos="fade-up" style="background-color:rgba(0, 0, 0, 0.5);">
                  <div class="col-lg-12">
                      <div class="section-title mt-4">
                        <h2>Partner with Exterior Design & Development</strong></h2>
                      </div>
                      <div class="row mb-4" style="margin-left:10%; margin-right:10%">
                        <div class="col-lg-6 info mt-4 mt-lg-0" style="background:none;">
                          <i class="icofont-envelope"></i>
                          <h4 style="color:white;">Email:</h4>
                          <p style="font-size:20px; font-weight:900;"><a href="mailto:info@exteriordd.com">info@exteriordd.com</a></p>
                        </div>

                        <div class="col-lg-6 info mt-4 mt-lg-0 " style="background:none;">
                          <i class="icofont-phone"></i>
                          <h4 style="color:white;">Call:</h4>
                          <p style="font-size:20px; font-weight:900;"><a href="tel:2159477100">(215) 947-7100</a><br><a href="tel:18886061950">1 (888) 606-1950</a> </p>
                        </div>
                      </div>

                      
                  </div>
        
                </div>
    
          </div>
        </section><!-- End Residential CTA Section -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Recent Commercial Projects</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
        {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item">
            <img src="{{project.default_img.url}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{project.name}}</h4>
              <p>{{project.date}}</p>
              <a href="{{project.default_img.url}}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="{% url 'portfolio:project_detail' pk=project.pk %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        {% endfor %}

 

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock content %}