{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Exterior Design and Development | Residential Roofing and Siding Experts Serving Southeastern Pennsylvania and New Jersey</title>
  <meta content="Residential roofing and siding experts servicing Southeastern Pennsylvania and New Jersey for over 20 years" name="description">
  <meta content="residential roofing, residential roofer, residential siding, residential exteriors, commercial roofing, commercial exteriors, commercial siding, commercial roofing systems" name="keywords">

  <!-- Open Graph data -->
  <meta property="og:title" content="Exterior Design & Development | Residential Roofing and Siding Experts Serving Southeastern Pennsylvania and New Jersey" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.exteriordd.com/residential" />
  <meta property="og:image" content="{% static 'img/exteriordd-landing-og-img.png' %}" />
  <meta property="og:description" content="Residential roofing and siding experts servicing Southeastern Pennsylvania and New Jersey for over 20 years" />
  <meta property="og:site_name" content="Exterior Design & Development" />


  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/landing_style.css' %}" rel="stylesheet">
  <link href="{% static 'css/counters.css' %}" rel="stylesheet">
    {{estimate_form.media}}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '3152218691531768');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=3152218691531768&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <h1><a href="index.html" class="scrollto">Avilon</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
       <a href="#intro" class="scrollto"><img id="nav-logo" class="nav-logo" src="{% static 'img/logo-exteriordd-lowres-horiz.png' %}" alt=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro" class="scrollto">Home</a></li>
          <li><a href="#more-features">Services</a></li>
          <li><a href="#credentials">Credentials</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#gallery">Portfolio</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->
  <section id="intro">

        <div class="col-lg-12 intro-text">
          
          <div class="intro-info-row">
              <h2>Residential roofing and siding experts</h2>
              <p>Serving Southeastern Pennsylvania & New Jersey for over two decades</p>
          </div>
              <div class="intro-form-col">
                <h3>Schedule Your Free Estimate</h3>
                <form action="{% url 'estimate_request' %}" class="text-center" id="landingHeroForm" method="post" role="form">
                  {% csrf_token %}
                        {% bootstrap_field estimate_form.name show_label=False %}
                        {% bootstrap_field estimate_form.email show_label=False %}
                        {% bootstrap_field estimate_form.phone show_label=False %}
                    <div class="text-center"><button type="submit">Schedule Estimate</button></div>
                  </form>      
              </div>        
          

  

     
      </div>




  </section><!-- End Intro Section -->

  <main id="main">
    <!-- ======= Certs Section ======= -->
    <section id="certs" class="certs">
      <div class="container" data-aos="fade-up">
        <div class="row content text-center">
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/certs/certainteed.png' %}" >
          </div>
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/certs/bbb-a-plus.jpg' %}" >
          </div>
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid cert-horiz" src="{% static 'img/certs/gaf-master-elite.png' %}">
          </div>
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/certs/licensed-and-insured.jpg' %}" >
          </div>
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid cert-horiz" src="{% static 'img/certs/tamko-pro.png' %}" >
          </div>
          <div class="col-lg-2 col-sm-4 mx-auto">
            <img class="img-fluid" src="{% static 'img/certs/financing.png' %}" >
          </div>
        </div>
      </div>
    </section>
    <!-- ======= More Features Section ======= -->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="row">
                <div class="col-lg-4">
                  <div class="icon"><img class="img-fluid service-img" src="{% static 'img/services/roof-replacement2.png' %}" ></div>
                </div>
                <div class="col-lg-8">
                  <h4 class="title"><a href="">Roof Replacement</a></h4>
                  <p class="description">Whether you're replacing an end of life roof or looking to upgrade your curb appeal .. our roofing experts will guide you through the process!</p>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="row">
                <div class="col-lg-4">
                  <div class="icon"><img class="img-fluid service-img" src="{% static 'img/services/missing-shingles.jpg' %}" ></div>
                </div>
                <div class="col-lg-8">
                  <h4 class="title"><a href="">Roof Repair</a></h4>
                  <p class="description">Tile, Shingle, Metal .. No matter what your roof is made of, we can repair it!</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="row">
                <div class="col-lg-4">
                  <div class="icon"><img class="img-fluid service-img" src="{% static 'img/services/house-siding.png' %}" ></div>
                </div>
                <div class="col-lg-8">
                  <h4 class="title"><a href="">Siding</a></h4>
                  <p class="description">Let our siding specialists help bring your desired vision to life for both new and existing properties!</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="row">
                <div class="col-lg-4">
                  <div class="icon"><img class="img-fluid service-img" src="{% static 'img/services/water-roof.jpg' %}" ></div>
                </div>
                <div class="col-lg-8">
                  <h4 class="title"><a href="">Preventative Maintenance</a></h4>
                  <p class="description">Concerned your roof may be nearing the end of it's expected life span? We can help you add more years to your existing roof!</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End More Features Section -->
  <!-- ======= Testimonials Section ======= -->
    <div class="testimonials-area parallax" style="background-image: url({% static 'img/testi-background.png' %});">
    <div class="testi-overly">
      <div class="testi-inner area-padding">

        <div class="container ">

        <div class="section-header">
          <h3 class="section-title" style="color:white;"><strong>Testimonials</strong></h3>
          <span class="section-divider"></span>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption d-md-block" style="position:static;">
                <h5>                        Exterior Designs replaced our roof a month or so ago. The process was seamless. They were very patient with us as we took a little time figuring out the right color.
                  The project manager came over the day before to look at our house and explain the process. The roof was replaced in one day and looks great! I highly recommend them!</h5>
                <p>Corey R.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-md-block" style="position:static;">
                <h5>                        We recently had to put on a new roof -- we got many quotes and met many people. As soon as I met Chad Solar we felt comfortable. His workers came, did the job perfectly
                  Twith NO MESS left behind. The guys were very nice and respectful. I have recommended them to 2 friends and both were equally pleased! No more leaks! Yay!</h5>
                <p>Ilene B.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption d-md-block" style="position:static;">
                <h5>This is to thank you for the beautiful job your workers did in installing the flashing for us. The foreman on the job was also very professional and friendly. We would also
                    recommend your company to anyone asking us about roofing. Thanks again!</h5>
                <p>Robert & Shirley G.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        </div>
      </div>
      </div>
    </div><!-- End Testimonials Section -->

    <!-- ======= Featuress Section ======= -->
    <section id="credentials">
      <div class="container">

        <div class="row">

          <div class="col-lg-12">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">Our Credentials</h3>
              
              <span class="section-divider"></span>
              <p class="section-description">When choosing a roofing contractor, the most important thing to consider is a company that has invested the time and energy to deliver the best possible product and service. </p>
            </div>
          </div>

                <div class="row credentials-content">
                    <div class="col-lg-4 col-12 text-center no-mobile">
                        <img class="img-fluid" src="{% static 'img/certs/certainteed.png' %}" >
                    </div>
                    <div class="col-lg-8 col-12 text-center">
                        <h4>Certainteed SELECT Shingle Master</h4>
                        <img class="img-fluid mobile-only" src="{% static 'img/certs/certainteed.png' %}" >
                        <p> This is the top level CertainTeed roofing credential, and represents the highest standards of excellence, quality and knowledge in the shingle roofing industry. An SSM has shown extensive knowledge of shingle installation and quality through rigorous testing, and have provided CertainTeed with proof of workers' compensation and liability insurance. Only an SSM can offer you the highest level of SureStart PLUS™ extended warranty coverage when an Integrity Roof System is installed on your home.</p>
                    </div>
                </div>
                <div class="row credentials-content">
                    <div class="col-lg-8 col-12 text-center">
                        <h4>GAF Master Elite</h4>
                        <img class="img-fluid cert-horiz mobile-only" src="{% static 'img/certs/gaf-master-elite.png' %}" >
                        <p> Master Elite® Certification is GAF's factory certification program that provides ongoing training to roofing contractors and assurance to you that the roof will be completed well and professionally. Only 2% of all roofing contractors have qualified as Master Elite® Choosing a GAF Master Elite® contractor is your assurance that you'll be dealing with a quality, and dependable professional contractor.</p>
                    </div>
                    <div class="col-lg-4 col-12 text-center no-mobile">
                        <img class="img-fluid cert-horiz" src="{% static 'img/certs/gaf-master-elite.png' %}" >
                    </div>
                </div>
                <div class="row credentials-content">
                    <div class="col-lg-4 col-12 text-center no-mobile">
                        <img class="img-fluid" src="{% static 'img/certs/tamko-pro.png' %}" >
                    </div>
                    <div class="col-lg-8 col-12 text-center">
                        <h4>TAMKO Pro</h4>
                        <img class="img-fluid mobile-only" src="{% static 'img/certs/tamko-pro.png' %}" >
                        <p> TAMKO Pro Roofing Contractors are a select group of qualified, experienced installers with a strong knowledge base of TAMKO’s product offerings. TAMKO Pros can offer a variety of popular shingle styles such as Heritage® Vintage®, Heritage® Woodgate®, Heritage® Premium, Heritage®, Elite Glass-Seal® and MetalWorks® Steel Shingles. They also have the ability to offer TAMKO’s Mastercraft Limited Warranty Enhancement at no additional cost to the homeowner along with the abilities to purchase custom marketing materials and access to lead-generating tools.</p>
                    </div>
                </div>

        </div>

      </div>

    </section><!-- End Featuress Section -->

        <!-- ======= Counter CTA Section ======= -->
        <section id="landing-counter" class="landing-counter section-cta parallax" style="background-image: url({% static 'img/landing-counter-background.jpg' %});;">
          <div class="counter-overlay">
          <div class="container">
                
                <div class="row counters">
                <div class="col-lg-4 col-12 text-center">
                    <span data-toggle="counter-up">25</span>
                    <p>Years of Experience</p>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <span data-toggle="counter-up">2,086</span>
                    <p>Roofing Projects</p>
                </div>

                <div class="col-lg-4 col-12 text-center">
                    <span data-toggle="counter-up">9,876,454</span>
                    <p>Shingles Installed <small>(square feet)</small></p>
                </div>
                    <div class="col-12 text-center">
                        <a href="tel:2159477100" class="btn-counter-contact">Give Us a Call!</a>
                    </div>


                </div>
                </div>
            
          </div>
        </section><!-- End Counter CTA Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Frequently Asked Questions</h3>
          <span class="section-divider"></span>
        </div>

        <ul id="faq-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#faq1">How will I know if my roof can be repaired? <i class="ion-android-remove"></i></a>
            <div id="faq1" class="collapse" data-parent="#faq-list">
              <p>
                At our first visit, we will discuss your options with you. Weighing both the pros and cons of replacing vs repairing your roof. The ultimate deicision is yours!
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">Do your roofs include a warranty? <i class="ion-android-remove"></i></a>
            <div id="faq2" class="collapse" data-parent="#faq-list">
              <p>
                Yes! All our roof installations will include a warranty! Most roofing contractors cannot offer the manufacturer warranties like we can because of our extensive training and certifications. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">My roof is old, what can I do to prolong it's life? <i class="ion-android-remove"></i></a>
            <div id="faq3" class="collapse" data-parent="#faq-list">
              <p>
                At Exterior Design & Development, our experienced roofing professionals can go over options with you at your estimate visit. 
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">How long does a roof typically last? <i class="ion-android-remove"></i></a>
            <div id="faq4" class="collapse" data-parent="#faq-list">
              <p>
                Depending on the material, roofs can last anywhere from 20 to 60 years!
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">Do you offer financing? <i class="ion-android-remove"></i></a>
            <div id="faq5" class="collapse" data-parent="#faq-list">
              <p>
                Yes! We have a variety of options for financing. Ask one of our team members about financing options at your estimate visit or call us anytime!
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" style="background-image: url({% static 'img/landing-cta-estimate.jpg' %})" class="parallax">
      <div class="cta-overlay">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h3 class="cta-title">Schedule Your Free Estimate</h3>
            </div>
            <div class="col-lg-12 text-center">
              
                <form action="{% url 'estimate_request' %}" class="text-center cta-text" id="landingCTAForm" method="post" role="form">
                  {% csrf_token %}
                      <div class="form-row">
                          {% bootstrap_field estimate_form.name form_group_class="col-md-4 form-group" show_label=False %}
                          {% bootstrap_field estimate_form.email form_group_class="col-md-4 form-group" show_label=False %}
                          {% bootstrap_field estimate_form.phone form_group_class="col-md-4 form-group" show_label=False %}
                      </div>   
                      <button class="cta-btn align-middle" type="submit">Schedule</button>       
            </div>
            </form> 
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->




   

    <!-- ======= Gallery Section ======= -->
    <section id="gallery">
      <div class="container-fluid">
        <div class="section-header">
          <h3 class="section-title">Recent Projects</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row no-gutters">
          {% for proj in projects %}
          <div class="col-lg-4 col-md-6">
            <div class="gallery-item wow fadeInUp">
              <a href="{{proj.default_img.url}}" data-gall="portfolioGallery" class="venobox">
                <img src="{{proj.default_img.url}}" alt="" style="width:100%;height:300px;">
              </a>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="row wow fadeInUp">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <img class="img-fluid" src="{% static 'img/logo-exteriordd-lowres-horiz.png' %}" alt="">
              <p>Our principles of using the finest quality products and providing skilled craftsmanship and superior service set us apart from other PA exterior design and roofing contractors.</p>
              <div class="social-links">
                <a href="https://www.facebook.com/exteriordesignanddevelopment/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/exteriordesignanddevelopment/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="ion-ios-location-outline"></i>
                <p>P.O. Box 903<br>Huntingdon Valley, PA 19006</p>
              </div>

              <div>
                <i class="ion-ios-email-outline"></i>
                <p><a href="mailto:info@exteriordd.com" style="color:black">info@exteriordd.com</a></p>
              </div>

              <div>
                <i class="ion-ios-telephone-outline"></i>
                <p><a href="tel:2159477100" style="color:black">(215) 947-7100</a></p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="{% url 'contact_us_form' %}" method="post" role="form" class="php-email-form" id="contactUsForm">
                {% csrf_token %}
                  {% bootstrap_field contact_form.name show_label=False %}
                <div class="form-row">

                    {% bootstrap_field contact_form.email form_group_class="col-md-6 form-group" show_label=False %}
                    {% bootstrap_field contact_form.phone form_group_class="col-md-6 form-group" show_label=False %}
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" id="id_message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>

                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <div class="modal fade" id="modal-base">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Exterior Design & Development</strong>. All Rights Reserved
            <br>
            <span style="font-size:12px;">Web Design & Development by <a href="www.elevatedwebsystems.com">Elevated Web Systems</a></span>
          </div>
          
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#more-features" class="scrollto">Services</a>
            <a href="#credentials" class="scrollto">Credentials</a>
            <a href="#faq" class="scrollto">FAQ</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'vendor/hoverIntent/hoverIntent.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'js/landing_main.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        document.getElementById("nav-logo").style.maxHeight = "40px";
      } else {
        document.getElementById("nav-logo").style.maxHeight = "90px";
      }
    }
  </script>
</body>

</html>