{% extends 'blog/blog_base.html' %}
{% load static %}
{% block meta_tags %}

  <title>Exterior Design and Development | Blog | {{blog.title}}</title>
  <meta content="Residential and commercial roofing and siding experts servicing Southeastern Pennsylvania and New Jersey for over 20 years" name="description">
  <meta content="residential roofing, residential roofer, residential siding, residential exteriors, commercial roofing, commercial exteriors, commercial siding, commercial roofing systems" name="keywords">

  <!-- Open Graph data -->
  <meta property="og:title" content="Exterior Design & Development | Blog | {{blog.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://www.exteriordd.com/blog/{{blog.slug}}" />
  <meta property="og:image" content="http://www.exteriordd.com/{{blog.header_img.url}}" />
  <meta property="og:description" content="{{blog.post|striptags|truncatechars:"160"}}" />
  <meta property="og:site_name" content="Exterior Design & Development" />

{% endblock meta_tags %}

{% block headscript %}
<style>
{{blog.page_css|safe}}
</style>
{% endblock headscript %}


{% block breadcrumb %}
    <li><a href="{% url 'blog:blog_list' %}">Blog</a></li>
    <li>{{blog.title}}</li>
{% endblock breadcrumb %}

{% block blog_content %}

  <article class="entry entry-single" data-aos="fade-up">

              <div class="entry-img">
                <img src="{{blog.header_img.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog:blog_detail' slug=blog.slug %}">{{blog.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{blog.created_at}}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                {{blog.post|safe}}

              </div>

              <div class="entry-footer clearfix">
                <div class="float-left">
                  <i class="icofont-folder"></i>
                  <ul class="cats">
                    {% for cat in blog.categories.all %}
                        <li><a href="#">{{cat.name}}</a> | </li>
                    {% endfor %}
                  </ul>

                </div>

                <div class="float-right share">
                  <a href="https://twitter.com/home?status={{full_url}}" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{full_url}}" title="Share on Facebook"><i class="icofont-facebook"></i></a>

                </div>

              </div>

            </article><!-- End blog entry -->
{% endblock blog_content %}


{% block footscript %}
<script>
{{blog.page_js|safe}}
</script>
{% endblock footscript %}
