{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block meta_tags %}
  {% endblock meta_tags %}


  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block headscript %}
  {% endblock headscript %}
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="{% url 'home' %}" class="logo mr-auto"><img src="{% static 'img/logo-exteriordd-lowres.png' %}" alt=""></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li {% if request.resolver_match.view_name == 'home' %}class="active"{% else %}{% endif %}><a href="{% url 'home' %}">Home</a></li>


            <li {% if request.resolver_match.view_name == 'about_us' %}class="active"{% else %}{% endif %}><a href="{% url 'about_us' %}">About Us</a></li>
            <li {% if request.resolver_match.view_name == 'residential' %}class="active"{% else %}{% endif %}><a href="{% url 'residential' %}">Residential</a></li>
            <li {% if request.resolver_match.view_name == 'commercial' %}class="active"{% else %}{% endif %}><a href="{% url 'commercial' %}">Commercial</a></li>
            <li {% if '/portfolop' in request.path %}class="active drop-down"{% else %}{% endif %} class="drop-down"><a href="">Portfolio</a>
                <ul>
                <li><a href="{% url 'portfolio:residential_projects' %}">Residential</a></li>
                <li><a href="{% url 'portfolio:commercial_projects' %}">Commercial</a></li>
                </ul>
            </li>
            <li {% if '/blog' in request.path %}class="active"{% else %}{% endif %}><a href="{% url 'blog:blog_list' %}">Blog</a></li>
            <li {% if request.resolver_match.view_name == 'contact_us' %}class="active"{% else %}{% endif %}><a href="{% url 'contact_us' %}">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <button data-url="{% url 'estimate_request' %}" class="btn btn-primary js-estimate-request">Free Estimate</button>
        <a href="tel:2159477100"><i class="icofont-phone"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  {% block content %}
  {% endblock content %}

  <div class="modal fade" id="modal-base">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="{% static 'img/logo-exteriordd-lowres.png' %}" alt="" style="margin-bottom: 10px;">
            <p>
              P.O. Box 903 <br>
              Huntingdon Valley, PA 19006
               <br><br>
              <strong>Phone:</strong> <a href="tel:2159477100">(215)947-7100</a><br>
              <strong>Email:</strong> <a href="mailto:info@exteriordd.com">info@exteriordd.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about_us' %}">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'residential' %}">Residential</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'commercial' %}">Commercial</a></li>
              <li><i class="bx bx-chevron-right"></i> <button type="button" data-url="{% url 'estimate_request' %}" class="js-estimate-request anchor-button">Free Estimate</button></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Residential Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'residential' %}">Roof Repair </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'residential' %}">Roof Replacement</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'residential' %}">Siding</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'residential' %}">Preventative Maintenance</a></li>
              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Commercial Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'commercial' %}">Roofing Systems</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'commercial' %}">Siding</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'commercial' %}">Waterproofing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'commercial' %}">Air & Vapor Barriers</a></li>              
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Exterior Design & Development</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Web Design by <a href="https://elevatedwebsystems.com/">Elevated Web Systems</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/exteriordesinganddevelopment/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/exteriordesignanddevelopment/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script>
  $('#modal-base').on('hidden.bs.modal', function(e) {
    document.getElementById("estimateForm").reset();
    $('#modal-base').modal('hide');
  }); 
  </script>
</body>

</html>